<div>
  <link href="./cart-listing.css" rel="stylesheet" />
  <div class="cart-listing-container">
    <div class="cart-listing-cart-item">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1540574163026-643ea20ade25?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fHNvZmF8ZW58MHx8fHwxNjc3MzM5MzQ2&ixlib=rb-4.0.3&q=80&w=300"
        class="cart-listing-image"
      />
      <div class="cart-info-container cart-info-root-class-name">
        <div class="cart-info-container1">
          <div class="cart-info-container2">
            <label class="cart-info-text">
              <span>Brown leather sofa</span>
            </label>
            <strong class="cart-info-text1"><span>1,000 AED</span></strong>
            <span class="cart-info-text2"><span>8 left in stock</span></span>
            <span><span>Ships between 2-5 days</span></span>
          </div>
        </div>
      </div>
      <div class="cart-edit-container cart-edit-root-class-name">
        <div class="cart-edit-container1">
          <div class="cart-edit-container2">
            <div class="cart-edit-container3">
              <button class="cart-edit-button button">
                <span>Remove</span>
              </button>
              <div class="cart-edit-container4">
                <button class="cart-edit-button1 button"><span>-</span></button>
                <input
                  type="text"
                  placeholder="1"
                  class="cart-edit-textinput input"
                />
                <button class="cart-edit-button2 button"><span>+</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
