<div>
  <link href="./product-info.css" rel="stylesheet" />
  <div class="product-info-hero">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1529859503572-5b9d1e68e952?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fG1pbmltYWxpc20lMjBjb3VjaHxlbnwwfHx8fDE2MjYxODI1OTE&ixlib=rb-1.2.1&w=1200"
      class="product-info-image"
    />
    <div class="product-info-container">
      <h1 class="product-info-text"><span>Product Name</span></h1>
      <h2 class="product-info-text1">
        <span>Magnificent things are very simple.</span>
      </h2>
      <div class="product-info-btn-group">
        <button class="product-info-button button">
          <span>Add to cart</span>
        </button>
        <button class="product-info-button1 button">
          <span>More Details</span>
        </button>
      </div>
      <select>
        <option value="Option 1">Option 1</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
      </select>
      <span class="product-info-text2">
        <br />
        <br />
        <span>Some Info about the Product</span>
      </span>
    </div>
  </div>
</div>
