<div>
  <link href="./search-listing.css" rel="stylesheet" />
  <div class="search-listing-container">
    <div class="search-listing-result-item">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1540574163026-643ea20ade25?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fHNvZmF8ZW58MHx8fHwxNjc3MzM5MzQ2&ixlib=rb-4.0.3&q=80&w=300"
        class="search-listing-image"
      />
      <div class="search-listing-container1">
        <label class="search-listing-text">
          <span>Brown leather sofa</span>
        </label>
        <span class="search-listing-text1"><span>8 left in stock</span></span>
        <span class="search-listing-text2">
          <span>Ships between 2-5 days</span>
        </span>
        <strong class="search-listing-text3"><span>1,000 AED</span></strong>
      </div>
    </div>
  </div>
</div>
