<div>
  <link href="./username-hotbar.css" rel="stylesheet" />
  <div class="username-hotbar-container">
    <svg viewBox="0 0 1024 1024" class="username-hotbar-icon">
      <path
        d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"
      ></path>
    </svg>
    <h1><span>Username</span></h1>
    <a href="account-details.html" class="username-hotbar-navlink">
      <li class="username-hotbar-li list-item">
        <span><span>Account Details</span></span>
      </li>
    </a>
    <a href="orders.html" class="username-hotbar-navlink1">
      <li class="username-hotbar-li1 list-item">
        <span><span>Orders</span></span>
      </li>
    </a>
    <a href="payment.html" class="username-hotbar-navlink2">
      <li class="username-hotbar-li2 list-item">
        <span><span>Payments</span></span>
      </li>
    </a>
  </div>
</div>
